@import "vars"

// NEWEST FONT STYLES FOR ABOUT SCREEN
.about_h1
    @include media('font-size',( 48px, '', '',26px))
    @include media('line-height',( 72px, '', '', 39px))
.about_h3
    @include media('font-size',( 32px, '', '',18px))
    @include media('line-height',( 48px, '', '', 24px))
.about_body
    @include media('font-size',( 28px, '', 20px,16px))
    @include media('line-height',( 34px, '', 26px, 20px))
.about_link
    @include media('font-size',( 18px, '', 16px, 14px))
    @include media('line-height',( 24px, '', 24px, 18px))

.custom-container
    padding: 0 $aside-width

aside .hamburger .line, section.sidebar .hamburger .line
    background-color: $black

.about
    & .content

    & .row
        display: flex
        flex-direction: row
    & .about--section_one
        position: relative
        height: 100vh
        overflow: hidden
        z-index: 1
        @include media('padding-left',( $aside-width , '', '', $aside-width/2))
        @include media('padding-top',($about-top-padding, '', '', 0))
        &::before
            content: ""
            position: absolute
            left: 0
            bottom: 0
            // height: 30vh
            width: 100%
            background-position: center
            background-size: cover
            background-image: url('./../img/about-header-bg.svg')
            background-repeat: no-repeat
            @include media('height',( 80vh , 80vh, 75vh, 65vh, 55vh, 40vh))
        &__header
            z-index: 1
            @include media('padding-right',( 400px , '', '', 100px))
            @include media('align-items',( initial , '', '', 'center'))
            @include media('display',( 'block' , '', '', 'flex'))
            & p
                // Add font scaling
                @extend .about_h1

    & .about--section_two
        justify-content: space-between
        align-items: center
        @include media('padding',( $aside-width , '', '', $aside-width/2))
        @include media('flex-direction',( 'row' , '', '', column))

        &__text
            @extend .about_h3
        &__image
            @include media('width',( 50% , '', '', 100%))
            @include media('padding-left',( 20px , '', '', 0))
            @include media('padding-top',( 0 , '', '', 40px))

    & .about--section_three
        @include media('padding',( 0 $aside-width , '', '', 0 $aside-width/2))
        @include media('padding-bottom',( 160px , '', '', 80px))
        &__text
            @extend .about--section_two__text

    & .about--section_fourth
        @include media('padding',( 0 $aside-width , '', '', 0 $aside-width/2))
        padding-bottom: 160px
        & #teamSwiper
            @include media('margin-bottom',( 160px , '', '', 160px))
            @extend .default-owl-theme

            &  .owl-dots
                width: 100%
                & .owl-dot
                    @include media('margin-left',( 20px , '', '', 0))
                    &::before
                        background-color: transparent
            & .owl-item
                @include media('padding-right',( 20px , '', '', '', 0))

            & .slide_footer
                & p.name
                    margin-top: 40px
                    margin-bottom: 15px
                    @extend .about_body
                & p.info
                    @extend .about_link

    & .about--section_fifth
        @extend .about--section_three
        &__text
            @extend .about--section_two__text

    & .about--section_sixth
        display: flex
        flex-direction: column
        padding-top: 0
        @include media('padding',( 0 200px $aside-width 200px , '', '', 0 $aside-width/2 $aside-width/2 $aside-width/2))
        &__header
            @extend .about_h1
        &__body
            display: flex
            gap: 10vw
            @include media('flex-direction',( 'row' , '', '', column))
            @include media('padding',( 60px 0 , '', '', 30px 0))
            & .right-side, & .left-side
                font-size: 16px
                line-height: 24px
