@import "vars"
.custom-container
    padding: 0 180px

aside .hamburger .line, section.sidebar .hamburger .line
    background-color: $black

.content
    padding-top: $about-top-padding
    & .row
        display: flex
        flex-direction: row
        &.first-screen
            & img
                z-index: 20
                height: 100%
                width: 100%
    & .text--section
        padding: 140px 0
        @include body3
        &_bold
            font-weight: 800
            padding-bottom: $default-top-padding
            @include H2
    & .team-2-container
        padding-top: $default-top-padding -  40
        & p
            @include body2
    & .team-1-container
        & p
            padding-top: $default-top-padding
            @include body2

.person--container
    & .person
        padding: 23px 0
        @include body2
    & .team
        width: 100%
        display: flex
        flex-wrap: wrap
        gap: 1rem
        height: 100%
        padding-left: 60px
        &--item
            flex: 1 1 calc((100% / 2) - 2rem)
            overflow: hidden
            display: flex
            flex-direction: column
            & img
                height: 30vh

.text-section-area
    padding-top: 15vh

.team-photos
    & img
        margin-left: -180px
        width: 100%

.owl-carousel-brands
    padding: $default-top-padding 0
    & .item
        & img
            width: 100px
            margin: auto

.owl-carousel-photos
    .owl-nav
        flex-direction: row
        display: flex
        justify-content: flex-end
        & button[role="presentation"]
            width: 60px
            height: 60px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100%
            margin: 12px 0
            border: 1px solid $grey
            &:hover
                background-color: $grey
                & span
                    color: $black
            &:active
                background-color: $black
                & span
                    color: $white
            &:last-child
                margin-left: 25px
