@import './_vars'

//  BG IMAGES
.slides-container
    & .slide
        display: flex
        background-repeat: no-repeat
        height: 100vh
        & .content
            @include media( padding, (0 $aside-width, '', '', '', 0 50px))
        & .header
            @include media( padding-left, ('5%', 0, 0, '', ''))
        & .subHeader
            @include media( padding-left, ('5%', 0, 0, '', ''))
        &#slide-1
            & .header
                @include media( width, ('60%', '60%', '80%', '', '', '100%'))
            & .subHeader
                @include media( width, ('55%', '', '', '', '100%'))
            & .slide-1-image
                position: absolute
                top: 0
                bottom: 0
                object-fit: contain
                height: 100%
                width: 100%
                &-round
                    position: absolute
                    right: 10%
                    top: 50%
                    z-index: -1
                    width: 300px
                    height: 300px
        &#slide-2
            background-image: url('./../img/index-bg/index-2bg.jpg')
            @include media( background-size, (contain, '', '', '', '' ))
            @include media( background-position, (right, '', '', '', bottom))
            & .header
                @include media( width, ('55%', '60%', '', '', '', '100%'))
            & .subHeader
                @include media( width, ('45%', '', '', '', '100%'))

        &#slide-3
            background-image: url('./../img/index-bg/index-3bg.jpg')
            @include media( background-size, ( contain, '', '', 80%, 100%))
            @include media( background-position, (right, '', '', '', bottom))
            & .header
                @include media( width, ('55%', '60%', '', '', '', '100%'))
            & .subHeader
                @include media( width, ('45%', '40%', '', '', '100%'))

        &#slide-4
            background-image: url('./../img/index-bg/index-4bg.jpg')
            @include media( background-size, (contain, '', '', '', '' ))
            @include media( background-position, (right, '', '', '',  -50px 100%))
            & .header
                @include media( width, ('55%', '', '', '', '100%'))
            & .subHeader
                @include media( width, ('45%', '', '', '', '100%'))
        &#slide-5
            background-image: url('./../img/index-bg/index-5bg.jpg')
            @include media( background-size, (contain, '', '', '', '' ))
            @include media( background-position, (right, '', '', '',  0 100%))
        & .content
            max-height: 100%
            display: flex
            flex: 1
            flex-direction: column
            padding-top: 0
            & .slide-text-container
                flex: 1
                display: flex
                flex-direction: column
                // justify-content: center
                @include media(justify-content, (center, center, '', '', ''))
                @include media( padding-top, ('', '', 30vh, '', 35vh))
                & .h1
                    padding-bottom: 20px

// APP HEADER (ASIDE + SIDEBAR)
.app-header
    display: flex
    flex-direction: row
    min-height: 140px
    &.fixed
        position: fixed
    &.absolute
        position: absolute
        z-index: 99
        width: 100%
        & aside
            position: fixed
            right: 0
        & aside .hamburger.pressed~.aside--content #index-hamburger-menu
            position: fixed
            bottom: 0
            height: 100vh
            // z-index: 999
            top: 0
            right: 0
            left: 0

aside.no_pagename
    & .page--name
        display: none
// ASIDE
aside.unbordered
    z-index: 0
    background-color: transparent
    & .aside--content
        border: none
    & .buttons
        display: none
    & .page--name
        right: 80px
        position: fixed
        top: 50%
aside
    z-index: 999
    width: $aside-width
    height: 100%
    background-color: rgba(255,255,255,.10)
    &.full-height
        position: absolute
        right: 0
        @include media( height, ('100vh', '', '', '', '100px'))
        @include media( width, ('160px', '', '', '', '100px'))
        @include media( background-color, ('rgba(255,255,255,.1)', '', '', '', 'transparent'))
    #index-hamburger-menu
        position: absolute
        height: 100%
        right: 0
        top: 0
        opacity: 0
        width: 100vw
        background-color: $black
        z-index: -1
        display: none
        flex: 1
        &:before
            content: ''
            flex: 2
            height: 100%
            background-image: url('./../img/index-bg/aside-image.jpg')
            background-size: cover
            background-position: center
            @include media( display, ('block', '', '', '', 'none'))
        & .menu-items
            display: flex
            flex-direction: column
            justify-content: center
            flex: 3
            padding-left: 10vw
            & ul
                display: flex
                flex-direction: column
                flex: 2
                align-items: flex-start
                justify-content: flex-end
                & li
                    margin-bottom: 36px
                    & a
                        text-decoration: none
                        color: $white
                        @include body2
            &--terms
                display: flex
                flex: 1
                align-items: flex-end
                & a
                    @extend .footer--terms_item
                    padding-bottom: 30px
    & .hamburger
        position: absolute
        right: calc(50% - 20px)
        width: $hamburger-width
        cursor: pointer
        z-index: 99
        @include media( top, ('20px', '', '', '', 'calc(50% - 20px)'))
        & .line
            height: 2px
            margin-top: $hamburger-width/4
            background-color: $white
            width: 100%
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease
        &.pressed
            & .line
                opacity: 1
                transform: rotate(45deg) translate(-11px, -7.5px)
                background: $white
            & .line:nth-last-child(3)
                opacity: 0
                transform: rotate(0deg) scale(0.2, 0.2)
            & .line:nth-last-child(2)
                transform: rotate(-45deg) translate(0, -2px)
            & ~ .aside--content #index-hamburger-menu
                opacity: 1
                display: flex
                z-index: 11

            & ~ .aside--content
                background-color: $black
                & .buttons
                    @include media( display, ('block', '', '', '', 'none'))
                    & span svg path
                        stroke: $black
                    & #lang
                        display: flex
                        flex-direction: column
                        border: 1px solid $grey
                        border-radius: 30px
                        width: 62px
                        overflow: hidden
                        & button
                            width: 60px
                            height: 60px
                            display: flex
                            justify-content: center
                            align-items: center
                            border-radius: 100%
                            text-decoration: none
                            background-color: transparent
                            // transition: all .5s ease
                            & a
                                color: $white
                            &.choosen
                                display: block
                                background-color: $white
                                & a
                                    color: $black
                                    // font-weight: bold
                                    font-family: mont
                                    // font-size: 20px
                                    font-style: normal
                                    font-weight: 500
                        &.close
                            background-color: #fff
                            & button
                                height: 0

                                &.choosen
                                    height: 60px
                        &.open
                            background-color: transparent
                    & .arrow
                        display: none !important
                & .page--name p
                    color: $white

    & .aside--content
        // padding-top: $hamburger-area
        display: flex
        height: 100%
        flex-direction: column
        justify-content: space-between
        align-items: center
        // transition: all 1s ease
        @include media( border-left, (1px solid #bdbdbd, '', '', '', 'none'))
    & .buttons
        display: flex
        flex-direction: column
        padding-bottom: 38px
        position: absolute
        bottom: 0
        // height: 200px
        justify-content: flex-end
        @include media( display, ('block', '', '', '', 'none'))
        & #lang
            display: none
            & a
                text-decoration: none
        & .arrow
            display: flex
        & span
            width: 60px
            height: 60px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100%
            margin: 12px 0
            border: 1px solid $grey
            // transition: all 1s ease
            & svg
                fill: none
                & path
                    fill: none
                    stroke: $black
            &:hover
                background-color: $grey
                & path
                    stroke: $black
            &:active
                border: 1px solid $black
                background-color: $black
                & path
                    stroke: $white

    // PAGE NAME
    & .page--name
        flex: 1
        justify-content: center
        align-items: center
        transform: rotate(270deg)
        @include media( display, ('flex', '', '', '', 'none'))
        & p
            color: $black
            width: 0
            white-space: nowrap

// SIDEBAR
section.sidebar
    z-index: 999
    height: 100%
    background-color: rgba(255,255,255,.10)
    right: inherit
    background-color: transparent
    left: 0
    border: none
    z-index: 0
    @include media( padding, ($aside-horizontal-padd, $aside-horizontal-padd*0.8, '', '', '', ''))
    @include media( width, ($aside-width, $aside-width*0.8, '', '', ''))
    & .logo
        width: $aside-width - $aside-horizontal-padd *2
        height: $aside-width - $aside-horizontal-padd *2.2
        background-image: url(../img/logo/logo-white.svg)
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        &_dark
            @extend .logo
            background-image: url(../img/logo/logo-dark.svg)

// FOOTER    
.footer
    height: 100%
    display: flex
    flex-direction: column
    align-items: stretch
    padding: 20px 0

    & .content
        display: flex
        justify-content: center
        height: 100%
        padding-bottom: 20px
        & ul
            display: flex
            flex-direction: column
            flex: 1
            justify-content: center
            & li
                margin-bottom: 36px
            & a
                text-decoration: none
                color: $black
                @include body2

    &--terms
        z-index: 11
        display: flex
        padding-bottom: 40px
        @include media( align-items, ('flex-end', '', '', '', ''))
        @include media( justify-content, ('', '', '', '', 'flex-end'))
        @include media( flex-direction, ('row', '', '', '', 'column'))
        &_item
            margin-right: 31px
            color: $grey
            text-decoration: none
            @include link
